<html lang="en">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <div class="form-group">
    <form>
      <div class="radio">
        <label>Good<input type="radio" name="Good"> Choose Good</label>
      </div>
      <div class="radio">
        <label>Evil<input type="radio" name="Evil"> Choose Evil</label>
      </div>
      <div>
        <label>Favorite Food<input type="text" name="favFood"></label>
      </div>
      <div class="form-drop">
        <label>Select Color</label>
        <select class="form-control" id="favColor">
          <option>Red</option>
          <option>Green</option>
          <option>Blue</option>
        </select>
      </div>
      <div>
        <input id="insanity" data-slider-id='insanity-slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
      </div>
    </form>
  </div>
</body>
</html>